/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
:root {
	--text-color: rgb(35, 64, 87);
	--background-color: rgb(170, 217, 230);
	--background-color: white;
}
* {
	font-family: roboto;
	font-family: 'IBM Plex Serif';
}

.h2-container {
	border: 1px solid var(--custom-text-color, black);
	border-left: unset;
	border-right: unset;
	margin: 1em auto;
	box-sizing: border-box;
	padding: 1em 4%;
}
.article,
h2 {
	box-sizing: border-box;
	max-width: 1000px;
	margin: auto;
}
h2 {
	padding: 0.3em 0.9em;
}

.unspacer {
	// margin: -67px;
	margin: 0;
}

a {
	color: var(--custom-secondary-color, deepskyblue);
	&:hover {
		color: var(--custom-secondary-highlight-color, cyan);
	}
}
*::selection {
	// background: var(--custom-secondary-highlight-color);
	background: white;
	color: var(--custom-secondary-color);
}
